.Home{
    display: flex;
    justify-content: center;
    padding: 3px 10rem;
    background: white;
    margin: 40px 0 15px 0;
    border-radius: 3px;
    border-width: 1px;
}

.heading{
    font-family: 'Work sans' ;
    color: black;
    font-size: 30px;
}