.Home{
    
    background-image: url("bg2.png");
    /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        background-size: cover;
        height: 30rem;
        background-position: bottom left;

}

.homeMain{
    position: absolute;
    right: -5rem;
    top:20px;
    width: 60rem;
    z-index: 0;
}
