/* @import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Italianno&family=Mr+De+Haviland&family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  color: black;
} */
.App{
  background-color: rgb(233,243,246);
  min-height: 100vh;
}